<h1>Todo list</h1>
<form>
  <input type="text" name="todo" [(ngModel)]="todo" required>
  <button type="button" (click)="addTask()" [disabled]="!todo" >Add Task</button>
</form>


<div>
  <h2>Tasks list</h2>
  <div class="card-item"  *ngFor="let task of todoList">
    <div>
      <h3>{{task.name}}</h3>
      <p>Completed: {{task.completed}}</p>
      <p>Created at: {{task.createdAt |  date:'medium' }}</p>
      <p *ngIf="task.completedAt">Completed at: {{task.completedAt |  date:'medium' }}</p>
    </div>
    <div>
      <button *ngIf="!task.completedAt" (click)="completeTask(task.id)" >Complete</button>
      <button (click)="deleteTask(task.id)" >Delete</button>
    </div>
    
  </div>
  
</div>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h1>Todo list</h1></mat-card-title>
    <mat-card-subtitle>Manage your tasks</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim distinctio, nesciunt adipisci aperiam ipsa nostrum quam minus? Expedita debitis, officia natus fugit soluta dicta eligendi aliquid at. Sit, suscipit praesentium!</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>